h2{
    font-size: 30px;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h4
{
    font-size: 17px;
    color: navy;
    font-family: sans-serif;
}
.speech
{
    font-size:16px;
    color: black;
}
.direction
{
    font-family: cursive;
    font-size: 12px;
    background-color: lightcyan;
}
.direction:hover
{
    background-color: aquamarine;
    color: brown;
}
.JIM
{
    font-family: monospace;
    font-size: 16px;
    color: deepskyblue;
    text-align: left;
}
.JIM:hover
{
    color:black;
    filter: blur(1.1px);
    border-style: dotted;
    text-shadow: navy 2px 0 11px;
    font-size: 16px;

    
}
.AUNTCANDACE
{
    font-family: serif;
    font-size: 16px;
    color: darkblue;
    text-align: left;
}
.AUNTCANDACE:hover
{
    color: black;
    filter: blur(1.1px);
    border-style: dotted;
    text-shadow: navy 2px 0 10px;
    font-size: 16px;
}

.MARY
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: darkcyan;
    text-align: left;
}
.MARY:hover
{
    color: black;
    filter: blur(1.1px);
    border-style: dotted;
    text-shadow: navy 2px 0 10px;
    font-size: 16px;
}
.MORGAN
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: purple;
    text-align: left;
}
.MORGAN:hover
{
    color: black;
    filter: blur(1.1px);
    border-style: dotted;
    text-shadow: navy 2px 0 10px;
    font-size: 16px;
}
table,
th,
td{
    border-color: green;
    color:blue;
    text-align: center;
    white-space: nowrap;
    border-style:double;
    margin: 15px 20px 15px 10px;
    
}
th,
td{
    padding: 20px;
}
tr:nth-child(even) {
    background-color: lightcoral;
  }
tr:nth-child(odd) {
    background-color: lawngreen;
  }
  a:link {
    color: lightsalmon;
  }
  
  /* visited link */
  a:visited {
    color:darkred;
  }
  
  /* mouse over link */
  a:hover {
    color:deeppink;
    background-color:lightgreen;
  }
  
  /* selected link */
  a:active {
    color:hotpink;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:lightgreen;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: green;
    text-align: center;
    padding: 13px 15px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:plum;
  }
  
  .active {
    background-color:mediumvioletred;
  }